body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

header {
    background-color: #13B5FB;
    background-image: url(../img/pattern.png);
}

#logo-booleaner {
    height: 40%;
    width: 20%;
    padding-top: 6%;
}



main {
    margin-left: 10px;
    margin-right: 10px;
}

#top-title {
    font-size: 2.5em;
    margin-bottom: -10px;
}

#subtitle-top-title {
    font-size: 20px;
    opacity: 0.6;
}

#the-booleaner-color {
    color: #13B5FB;
}

#booleaner-date {
    font-size: 14px;
}

#photo-description {
    margin-top: 0px;
    font-size: 14px;
}

ul {
    margin-left: -20px;
}