body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

header {
    background-color: #13B5FB;
    background-image: url(../img/pattern.png);
}

#logo-booleaner {
    height: 40%;
    width: 20%;
    padding-top: 6%;
}



main {
    margin-left: 10px;
    margin-right: 10px;
}

#top-title {
    font-size: 2.5em;
    margin-bottom: -10px;
}

.subtitle-top-title {
    font-size: 20px;
    opacity: 0.6;
}

#the-booleaner-color {
    color: #13B5FB;
}

#booleaner-date {
    font-size: 14px;
}

#photo-description {
    margin-top: 0px;
    font-size: 14px;
}

ul {
    margin-left: -20px;
}

table {
    text-align: left;
}

th {
    font-weight: normal;
}

#table-head {
    color: #ffffff;
    background-color: #13B5FB;
}

.td-back-color {
    background-color: #34c1fe55;
}

.spacing-col {
    width: 300px;
    height: 50px;
}

#p-under-table {
    margin-bottom: 50px;
}

footer {
    margin-left: 10px;
    margin-right: 10px;
}

.p-footer {
    margin-bottom: 0px;
}

#div-pic-1 {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    width: 300px;
}

#div-pic-2 {
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 300px;
}

.p-in-div {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}